meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Implementación del SGA Sistema globalmente armonizado en Colombia
meta(meta name="description" content="El almacenamiento de plaguicidas y en general de productos de origen químico o biológico, requiere de actividades de relevancia en los procesos de transporte, recepción, almacenamiento y distribución de estos. Por lo anterior, es indispensable realizar un alistamiento de los recursos requeridos para prevenir y manejar derrames de los productos de acuerdo con los parámetros técnicos, lo exigido por el Sistema Globalmente Armonizado para la correcta manipulación de los productos químicos en Colombia (en adelante SGA), y la normatividad vigente.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")