h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li
                span 220201032-03. Alistar recursos para el manejo de derrames de plaguicidas de acuerdo con los parámetros técnicos y normatividad vigente.
            li
                span 220201032-04. Implementar planes de manejo seguro de derrames de plaguicidas, según paramentos técnicos y normativa vigente.