.container#base1

    .header-ecored
        h1 3. Acondicionamiento de la bodega de almacenamiento

    br#limpieza

    .jumbotron.bg-white

        .header-ecored.mt-0 
            h2 3.1 - Limpieza, clasificación, descontaminación
        
        img.img-fluid(src="assets/images/pages/img37.svg", style="max-width: 100%").img-a

        p La composición química de algunos plaguicidas puede generar incendio dentro de una bodega por la generación de humos tóxicos, vapores peligrosos, y también por los desechos que quedan después de que el fuego se ha apagado.

        p De acuerdo con lo anterior, es necesario tener presente:

        .row.justify-content-center
            .col-11
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Los primeros 50 metros cuadrados de la bodega se deberán tener dos extintores de polvo químico o espuma multipropósito.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se deberá contar también con una instalación de sistemas automáticos de extinción.
        
        .header-arrow.my-5
            h3.text-center Equipos para la limpieza y descontaminación
        
        p Para el manejo de algún derrame dentro de una bodega se deberá tener en cuenta:

        .jumbotron.bg-color2.mt-5
            .row.align-items-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img27.svg", style="max-width: 100%").img-a1
                .col
                    p #[b Equipo de protección:]
                    p El cual debe incluir overol, guantes de nitrilo, botas impermeables, delantal, gafas, respirador para vapores.

        .jumbotron.bg-color2.mt-5
            .row.align-items-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img39.svg", style="max-width: 100%").img-a1
                .col
                    p #[b Materiales absorbentes:]
                    p Los productos derramados se deben disponer de materiales como la cal apagada, aserrín o arena.

        .jumbotron.bg-color2.mt-5
            .row.align-items-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img30.svg", style="max-width: 100%").img-a1
                .col
                    p #[b Equipo para limpieza:]
                    p Pala de plástico, escoba, estopa de algodón, detergente y soda cáustica.

        .jumbotron.bg-color2.mt-5
            .row.align-items-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img38.svg", style="max-width: 100%").img-a1
                .col
                    p #[b Recipientes para desechos:]
                    p Canecas con tapas y bolsas plásticas de alto calibre.

        .header-arrow.my-5
            h3.text-center Condiciones de almacenamiento de productos plaguicidas:
        
        p Se deben tener en cuenta algunas condiciones para el almacenamiento de plaguicidas, para así garantizar la seguridad de los productos y del medio circundante:

        img.img-fluid(src="assets/images/pages/img40.svg", style="max-width: 100%").img-a

        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 1
            .list__txt
                p.mb-0 El piso de la bodega debe estar marcado para señalar las zonas de almacenaje y circulación, de esta manera estos espacios libres permiten el fácil acceso para la revisión y descontaminación si se llega a presentar algún derrame de productos.
        .list.align-items-center.mt-3
            .list__item
                .list__item__bulletNumber
                    span 2
            .list__txt
                p.mb-0 En caso de alguna emergencia, la bodega deberá tener el siguiente equipo para tratarla:
        
        .row.justify-content-center.mt-3
            .col-11
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Material absorbente, como barreras o paños.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Contenedores vacíos, o algunas bolsas de calibre grueso para volver a envasar otros contenedores que presenten algunos daños.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Agua de un grifo o de algún recipiente para enjuagar las manos y cara si llegan a estar contaminadas.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Equipo de desinfección para lavado de ojos.
        
        .header-arrow.my-5
            h3.text-center Disposición y clasificación de plaguicidas dentro del sitio de almacenamiento
        
        p Para un buen almacenamiento de los plaguicidas se deben tener en cuenta las recomendaciones contempladas en el #[b Decreto 1843 de 1991 y la NTC 1319]:

        section.my-5.pt-5
        
            .row.justify-content-center.mt-5

                .col-12.col-md-6
                    .card.bg-color1
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img41.svg").avatar-img
                            h4 Dedicación exclusiva
                            .hr
                            p.text-left Entendida en la disposición única de la bodega donde se almacenan los plaguicidas, ya que en ella no deben almacenarse alimentos para ser humano o para los animales, elementos de protección, elementos de oficina, elementos personales. En resumidas cuentas, ningún elemento cuya contaminación pueda representar un riesgo para la salud de las personas.
                .col-12.col-md-6.mt-7.mt-md-0
                    .card.bg-color1
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img42.svg").avatar-img
                            h4 Protección contra factores de deterioro
                            .hr
                            p.text-left los productos plaguicidas deben protegerse de la humedad, el sol directo y del calor excesivo.
                .col-12.col-md-6.mt-7.mt-md-7
                    .card.bg-color1
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img43.svg").avatar-img
                            h4 Separación de productos
                            .hr
                            p.text-left Los productos plaguicidas deben separarse dependiendo de sus riesgos.
                .col-12.col-md-6.mt-7.mt-md-7
                    .card.bg-color1
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img44.svg").avatar-img
                            h4 Revisión de los productos
                            .hr
                            p.text-left Siempre que los productos vayan a ingresar a la bodega, se deben revisar. También, periódicamente por el encargado de los productos plaguicidas, para así constatar que no existan filtraciones o derrames y su fecha de vencimiento no esté próxima.
                .col-12.col-md-6.mt-7.mt-md-7
                    .card.bg-color1
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img45.svg").avatar-img
                            h4 Productos parcialmente usados
                            .hr
                            p.text-left Estos productos deben ser guardados con las tapas muy bien apretadas. Las bolsas deben ser enrolladas con mucho cuidado de abajo hacia arriba y posteriormente ser aseguradas con una cinta adhesiva o colocarlas dentro de una bolsa plástica.
                .col-12.col-md-6.mt-7.mt-md-7
                    .card.bg-color1
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img46.svg").avatar-img
                            h4 Orden y aseo
                            .hr
                            p.text-left La bodega siempre debe permanecer ordenada y limpia. Al momento de barrer el piso se debe usar materiales absorbentes húmedos, como el aserrín.
                .col-12.col-md-6.mt-7.mt-md-7
                    .card.bg-color1
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img47.svg").avatar-img
                            h4 Conocimiento
                            .hr
                            p.text-left Los encargados del almacenamiento deben distinguir los símbolos de peligro. También debe tener conocimiento de cómo se deben separar los herbicidas de los insecticidas, fungicidas, fertilizantes y semillas. El manejo de los plaguicidas siempre debe ser operado por personas calificadas y certificadas.
                .col-12.col-md-6.mt-7.mt-md-7
                    .card.bg-color1
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img48.svg").avatar-img
                            h4 Uso de estibas
                            .hr
                            p.text-left Los envases de los plaguicidas no deben situarse directamente en el suelo, pero si sobre un sistema que evite el contacto directo con el piso sobre estibas o estantes. 
                            p.text-left.mt-4 Las estibas incomunican del suelo los envases de los plaguicidas y los protegen de la humedad, con esto se puede realizar un manejo mecanizado y facilitan la organización dentro del sitio de establecimiento de los productos. Cuando se utilizan estibas, los bloques de almacenamiento deberán tener un ancho de dos estibas y un largo de máximo de ocho estibas.
                            p.text-left.mt-4 En las estibas, las cajas deberán ser apiladas en columna, de esta manera sus cuatro esquinas coinciden.
                .col-12.col-md-6.mt-7.mt-md-7
                    .card.bg-color1
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img49.svg").avatar-img
                            h4 Uso de estantes
                            .hr
                            p.text-left Los estantes podrán ser de metal o de madera. Los estantes de madera deben ser pintados con pinturas resistentes a los solventes. En estibas o estantes los envases de líquidos deberán ser colocados con las tapas mirando hacia arriba, nunca se deben colocar acostados, a menos que sea un caso de emergencia y por poco tiempo.
        
        .header-arrow.my-5
            h3.text-center Matriz de almacenamiento
        
        p La Matriz de almacenamiento sirve para la clasificación de los productos plaguicidas y sus posteriores mezclas entre cada uno de ellos.

        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_3.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Matriz de almacenamiento químico

        .header-arrow.mt-7.mb-5
            h3.text-center Clasificación de los productos
        
        p Después de realizar el listado de los productos con sus respectivas hojas de seguridad, se deberán separar los sólidos de líquidos e identificar la clase de riesgo al cual deberá pertenecer cada uno, de acuerdo al criterio de la Organización de las Naciones Unidas para el transporte de plaguicidas.

        .header-arrow.mt-7.mb-6
            h3.text-center Distinción por colores
        
        section.my-5.pt-5
        
            .row.justify-content-center.mt-5
                .col-12.col-md-4
                    .card.bg-color1
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img50.svg").avatar-img
                            h4 Color verde
                            .hr
                            p.text-left Plaguicidas que pueden almacenarse juntos. Verificar la reactividad individual utilizando la MSDS (ficha de seguridad del producto, sigla que al español traduce: Hoja de Datos de Seguridad de Materiales).
                .col-12.col-md-4.mt-7.mt-md-0
                    .card.bg-color1
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img51.svg").avatar-img
                            h4 Color amarillo
                            .hr
                            p.text-left Precaución, posibles restricciones. Se tienen que revisar las incompatibilidades individuales utilizando la MSDS.
                .col-12.col-md-4.mt-7.mt-md-0
                    .card.bg-color1
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/img52.svg").avatar-img
                            h4 Color rojo
                            .hr
                            p.text-left Estos plaguicidas se tienen que almacenar por separado. Son incompatibles.
        
        .header-arrow.mt-7.mb-5
            h3.text-center Separadores
        
        p A continuación, se mostrará la matriz de incompatibilidad química del CISTEMA (Centro de Información de Sustancias Químicas, Emergencias y Medio Ambiente) con convenciones y notas:

        .row.align-items-center.justify-content-center
            .col-2.bg-color9
                p.text-white #[b Color verder:]
            .col-8
                p.mb-0 los plaguicidas pueden almacenarse juntos. verificar la reactividad individual, utilizando la ficha de seguridad.
        .row.align-items-center.justify-content-center.mt-4
            .col-2.bg-color10
                p.text-white #[b Color amarillo:]
            .col-8
                p.mb-0 Precaución, posibles restricciones.
        .row.align-items-center.justify-content-center.mt-4
            .col-2.bg-color11
                p.text-white #[b Color rojo:]
            .col-8
                p.mb-0 Se requiere almacenar por separado. Son incompatibles.
        
        h2.mt-5 Notas:

        .list.align-items-center.mt-5
            .list__item
                .list__item__bulletNumber
                    span 1
            .list__txt
                p.mb-0 Siempre deberá realizarse una valoración de riesgo. Se permitirá el almacenamiento de plaguicidas siempre y cuando el riesgo evaluado no sea peligroso.
        .list.align-items-center.mt-3
            .list__item
                .list__item__bulletNumber
                    span 2
            .list__txt
                p.mb-0 Las sustancias inflamables a excepción de los líquidos podrán ser almacenados en algunas áreas que no contengan más de 50 cilindros de gases comprimidos, de los cuales máximo 25 pueden contener gases tóxicos.
        .list.align-items-center.mt-3
            .list__item
                .list__item__bulletNumber
                    span 3
            .list__txt
                p.mb-0 Los líquidos con envases dañados o deteriorados no deben almacenarse con los líquidos inflamables.
        .list.align-items-center.mt-3
            .list__item
                .list__item__bulletNumber
                    span 4
            .list__txt
                p.mb-0 Las sustancias que no reaccionan entre sí pueden almacenarse juntas. Esto se puede lograr gracias a separaciones físicas.
        
        .header-arrow.mt-7.mb-5
            h3.text-center Matriz de incompatibilidades al momento de almacenar:
        
        p Antes de almacenar los productos plaguicidas, se debe tener en cuenta su presentación (líquida o sólida), sin dejar de lado el color de la clasificación de cada uno de ellos.

        .row.p-3.bg-color12.align-items-center
            .col-12.col-md-6
                h3 Líquidos:
                .row.align-items-center.justify-content-center
                    .col-2.bg-color9
                        p.text-white #[b Color verder:]
                    .col-10
                        p.mb-0 Estos plaguicidas pueden almacenarse juntos.
                .row.align-items-center.justify-content-center.mt-4
                    .col-2.bg-color10
                        p.text-white #[b Color amarillo:]
                    .col-10
                        p.mb-0 Para estos plaguicidas es necesario una valoración de riesgo.
                .row.align-items-center.justify-content-center.mt-4
                    .col-2.bg-color11
                        p.text-white #[b Color rojo:]
                    .col-10
                        p.mb-0 Estos plaguicidas se requieren almacenar por separado. Resultan ser incompatibles.
            .col-12.col-md-6.p-2
                img.img-fluid(src="assets/images/pages/img53.svg", style="max-width: 100%").img-a1
            .col-12.mt-3
                img.img-fluid(src="assets/images/pages/img54.svg", style="max-width: 100%").img-a1
        
        .row.p-3.bg-color13.align-items-center.mt-4
            .col-12.col-md-6
                h3 Sólidos:
                .row.align-items-center.justify-content-center
                    .col-2.bg-color9
                        p.text-white #[b Color verder:]
                    .col-10
                        p.mb-0 Estos plaguicidas pueden almacenarse juntos.
                .row.align-items-center.justify-content-center.mt-4
                    .col-2.bg-color10
                        p.text-white #[b Color amarillo 1:]
                    .col-10
                        p.mb-0 para estos plaguicidas es necesario una valoración del riesgo.
                .row.align-items-center.justify-content-center.mt-4
                    .col-2.bg-color14
                        p.text-white #[b Color amarillo 6:]
                    .col-10
                        p.mb-0 Las sustancias de la clase nueve que inicien o difundan el fuego con una rápida velocidad no deben almacenarse al lado de sustancias tóxicas.
                .row.align-items-center.justify-content-center.mt-4
                    .col-2.bg-color11
                        p.text-white #[b Color rojo:]
                    .col-10
                        p.mb-0 Estos plaguicidas se requieren almacenar por separado. Resultan ser incompatibles.
            .col-12.col-md-6.p-2
                img.img-fluid(src="assets/images/pages/img55.svg", style="max-width: 100%").img-a1
            .col-12.mt-3
                img.img-fluid(src="assets/images/pages/img56.svg", style="max-width: 100%").img-a1
        
        .header-arrow.mt-7.mb-5
            h3.text-center Asignación de colores al momento del almacenamiento:
        
        p Para una fácil identificación de grupos de plaguicidas que deben ser mantenidos separados, se recomienda asignarles colores y colocar cintas adhesivas a cada envase, así:

        .row.align-items-center.justify-content-center
            .col-2.bg-color15
                p.text-white #[b Azul:]
            .col-8
                p.mb-0 Tóxicos o nocivos (ejemplo: sulfato de cobre, ningún plaguicida se incluye).
        .row.align-items-center.justify-content-center.mt-4
            .col-2.bg-color10
                p.text-white #[b Amarillo:]
            .col-8
                p.mb-0 Oxidantes (ejemplo: nitrato de amonio).
        .row.align-items-center.justify-content-center.mt-4
            .col-2.bg-color11
                p.text-white #[b Rojo:]
            .col-8
                p.mb-0 Inflamables (ejemplo: alcohol etílico). fosfórico).
        .row.align-items-center.justify-content-center.mt-4
            .col-2.bg-color16
                p #[b Blanco:]
            .col-8
                p.mb-0 Corrosivos (ejemplo: ácido fosfórico).
        .row.align-items-center.justify-content-center.mt-4
            .col-2.bg-color17
                p.text-white #[b Gris:]
            .col-8
                p.mb-0 Peligrosos (ejemplo: sulfato de manganeso).
        .row.align-items-center.justify-content-center.mt-4
            .col-2.bg-color9
                p.text-white #[b Verde:]
            .col-8
                p.mb-0 Separadores (plaguicidas de bajo riesgo, ejemplo como el azúcar).
        
        .header-arrow.mt-7.mb-5
            h3.text-center Elementos de protección personal (máscara con filtro, lentes, guantes, botas, overol)
        
        .jumbotron.bg-color2.mt-5
            .row.align-items-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img57.svg", style="max-width: 100%").img-a1
                .col
                    p #[b Para el cuerpo:]
                    p Para el caso de aplicaciones, debe ser ropa impermeable para la protección de todo el cuerpo. Los materiales más utilizados para la impermeabilización del cuerpo son el PVC, hule y Tyvec.
        
        .jumbotron.bg-color2.mt-5
            .row.align-items-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img58.svg", style="max-width: 100%").img-a1
                .col
                    p #[b Para los ojos:]
                    p Se recomienda utilizar lentes de protección sellados, los cuales impedirán la penetración de los plaguicidas hacia los ojos.
        
        .jumbotron.bg-color2.mt-5
            .row.align-items-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img59.svg", style="max-width: 100%").img-a1
                .col
                    p #[b Para las manos:]
                    p Es necesario utilizar guantes de puño largo de goma o nitrilo. Para el uso del plaguicida este guante debe ser resistente y que no produzca efectos dérmicos a la persona.

        .jumbotron.bg-color2.mt-5
            .row.align-items-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img60.svg", style="max-width: 100%").img-a1
                .col
                    p #[b Para los pies:]
                    p Se deben utilizar botas de goma o PVC con una suela antideslizante y de caña larga.

        .jumbotron.bg-color2.mt-5
            .row.align-items-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img61.svg", style="max-width: 100%").img-a1
                .col
                    p #[b Para las vías respiratorias:]
                    p Se deben utilizar máscaras y filtros químicos, estos elementos deben ser de calidad certificada. 
