include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Decreto 1496 de 2018. Por el cual se adopta el Sistema Globalmente Armonizado de Clasificación y Etiquetado de Productos Químicos y se dictan otras disposiciones en materia de seguridad química. 56 de agosto de 2018. D.O. 50677.", "")

        +referenciaItem("ONU. (2018). Recomendaciones relativas al transporte de mercancías peligrosas - Reglamentación Modelo. Decimonovena edición revisada. Naciones Unidas Publicaciones.", "")

        +referenciaItem("Resolución 1167 de 2010. [Instituto Colombiano Agrícola]. Por medio de la cual se establecen los requisitos para el registro y control de personas que se dediquen a la comercialización de insumos agropecuarios y/o semillas para siembra a través de establecimientos de comercio.25 de marzo de 2010. D.O. 47666.", "")

        +referenciaItem("Resolución 2075 de 2019. [Comisión de la Comunidad Andina]. Manual Técnico Andino para el Registro y Control de plaguicidas químicos de uso agrícola.", "")